build/
dist/
*.exe
*.obj
*.o
*.a
*.lib
*.dll
*.pdb
*.ilk
*.exp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
DoubanQt_autogen/
*.user
*.pro.user
moc_*.cpp
ui_*.h
qrc_*.cpp
.DS_Store
Thumbs.db
*.db
